@font-face {
    font-family: Bungee;
    src: url(./Fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
  font-family: BungeeInline;
  src: url(./Fonts/Bungee_Inline/BungeeInline-Regular.ttf);
}

@font-face {
  font-family: BungeeShade;
  src: url(./Fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
  font-family: BungeeHairline;
  src: url(./Fonts/Bungee_Hairline/BungeeHairline-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Martel Sans;
  src: url(./Fonts/Martel_Sans/MartelSans-Regular.ttf);
}