body {
    height: 100vh;
    width: 100%;
}

header {
    height: 15vh;
}


.menu {
    display: flex;
    height: 60vh;
    width: 100%;
}


.menu__left{
    width: 70%;
}

.menu__left_title {
    font-family: BungeeShade;
    font-size: 40px;
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu__left_title > h1 {
    margin: 0;
}

.menu__left_options-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    font-family: Bungee;
    font-size: 22px;
    margin: 0;
}

.menu__left_options-list > li > a {
    color: inherit;
    text-decoration: none;
}

.menu__right {
    width: 30%;
}

.menu__right_picture {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu__right_picture > img {
    width: 300px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social {
    display: flex;
    justify-content: flex-start;
}

.social__list {
    display: flex;
    width: 160px;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    font-family: Bungee;
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}

.hoverable {
    cursor:default;
    color:#000;
    text-decoration:none;
  }
.hoverable .hover {
    display:none;
}
.hoverable:hover .normal {
    display:none;
}
.hoverable:hover .hover {
    display:inline;  /* CHANGE IF FOR BLOCK ELEMENTS */
}

.goBack{
    width: 100%;
    font-family: Bungee;
    font-size: 22px;
    color: inherit;
    text-decoration: none;
    align-content: center;
}