.projects {
    display: flex;
    /* flex-direction: row ; 
    align-items: flex-start;  */
    flex-wrap: wrap;
    height: 60vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.projects img{
    width: 25%;  /* Will shrink image to 25% of its original width */
    height: auto; 
}

body {
    font-family: BungeeHairline; 
}